html, body {
  height: 100vh;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.App {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  color: #606060;
}

.App-header a {
  color: white;
}

.App-content {
  margin-top: 5px;
  color: #606060;
  justify-content: center;
  display: flex;
}

.MuiTableRow-root th {
  color: white;
}

.MuiTableRow-root td:last-child {
  text-align: center;
}

.MuiTableRow-root td a {
  color: #000;
}

/* .MuiDataGrid-columnHeaders {
  background-color: #B81F40;
} */

.App .datagrid-cell.MuiDataGrid-cell {
  padding: 5px;
  align-content: center;
} 

.grid-header {
  background-color: #B81F40;
  color: white;
}